<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>login@atlas0_1008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{757,1386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{757,1386}}</string>
        <key>sourceSize</key>
        <string>{757,1386}</string>
      </dict>
      <key>login@atlas0_1006.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,0},{94,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,144}}</string>
        <key>sourceSize</key>
        <string>{94,144}</string>
      </dict>
      <key>login@atlas0_1007.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,0},{70,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,181}}</string>
        <key>sourceSize</key>
        <string>{70,181}</string>
      </dict>
      <key>login@atlas0_1001.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,0},{79,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,132}}</string>
        <key>sourceSize</key>
        <string>{79,132}</string>
      </dict>
      <key>login@atlas0_1003.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,134},{46,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,190}}</string>
        <key>sourceSize</key>
        <string>{46,190}</string>
      </dict>
      <key>login@atlas0_1005.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,134},{45,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,193}}</string>
        <key>sourceSize</key>
        <string>{45,193}</string>
      </dict>
      <key>login@atlas0_1004.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,146},{46,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,174}}</string>
        <key>sourceSize</key>
        <string>{46,174}</string>
      </dict>
      <key>login@atlas0_1000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,183},{71,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,110}}</string>
        <key>sourceSize</key>
        <string>{71,110}</string>
      </dict>
      <key>login@atlas0_1002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,183},{45,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,165}}</string>
        <key>sourceSize</key>
        <string>{45,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>login@atlas0_1.png</string>
      <key>size</key>
      <string>{1020,1386}</string>
      <key>textureFileName</key>
      <string>login@atlas0_1.png</string>
    </dict>
  </dict>
</plist>