<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part1StartGame@atlas0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{587,966}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,966}}</string>
        <key>sourceSize</key>
        <string>{587,966}</string>
      </dict>
      <key>part1StartGame@atlas0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,968},{757,514}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{757,514}}</string>
        <key>sourceSize</key>
        <string>{757,514}</string>
      </dict>
      <key>part1StartGame@atlas0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{757,281}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{757,281}}</string>
        <key>sourceSize</key>
        <string>{757,281}</string>
      </dict>
      <key>part1StartGame@atlas0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1484},{478,363}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{478,363}}</string>
        <key>sourceSize</key>
        <string>{478,363}</string>
      </dict>
      <key>part1StartGame@atlas0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,1484},{413,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{413,396}}</string>
        <key>sourceSize</key>
        <string>{413,396}</string>
      </dict>
      <key>part1StartGame@atlas0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,0},{304,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,82}}</string>
        <key>sourceSize</key>
        <string>{304,82}</string>
      </dict>
      <key>part1StartGame@atlas0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,306},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,445},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,584},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,723},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,759},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,759},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,862},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,862},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1001},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,1001},{96,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,137}}</string>
        <key>sourceSize</key>
        <string>{96,137}</string>
      </dict>
      <key>part1StartGame@atlas0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1140},{89,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,87}}</string>
        <key>sourceSize</key>
        <string>{89,87}</string>
      </dict>
      <key>part1StartGame@atlas0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1140},{88,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,87}}</string>
        <key>sourceSize</key>
        <string>{88,87}</string>
      </dict>
      <key>part1StartGame@atlas0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1229},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>part1StartGame@atlas0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,1229},{87,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>part1StartGame@atlas0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,0},{600,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,6}}</string>
        <key>sourceSize</key>
        <string>{600,6}</string>
      </dict>
      <key>part1StartGame@atlas0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,0},{600,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,6}}</string>
        <key>sourceSize</key>
        <string>{600,6}</string>
      </dict>
      <key>part1StartGame@atlas0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,0},{144,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,30}}</string>
        <key>sourceSize</key>
        <string>{144,30}</string>
      </dict>
      <key>part1StartGame@atlas0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,146},{72,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,30}}</string>
        <key>sourceSize</key>
        <string>{72,30}</string>
      </dict>
      <key>part1StartGame@atlas0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,220},{69,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,30}}</string>
        <key>sourceSize</key>
        <string>{69,30}</string>
      </dict>
      <key>part1StartGame@atlas0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,291},{33,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,29}}</string>
        <key>sourceSize</key>
        <string>{33,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>part1StartGame@atlas0.png</string>
      <key>size</key>
      <string>{1019,1880}</string>
      <key>textureFileName</key>
      <string>part1StartGame@atlas0.png</string>
    </dict>
  </dict>
</plist>